*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.pcard{
    height: 26rem;
    margin: 50px;
    box-shadow: 0px 0px 20px rgb(243, 241, 241);
    border-radius: 5px;
    overflow: hidden;
    position:relative;
}

img{
    height: 30rem;
    width: 350px;
    transition: 0.5s;
}

.caption{
    height:5em;
    width: 350px;
    padding: 6px;
    position: absolute ;
    background:rgb(27,27,27,0.5);
    color: white;
    bottom: 0;
    transition: 0.5s;
}
h1{
    margin: 10px;
    font-size: 40px;
}
p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
}
a{
    color: white;
    font-size: 30px;
    flex-direction: row;
    margin-left: 54px;
}
a:hover{
    text-shadow: 0 0 5px #fafaf6;
}
.pcard:hover{
    cursor: pointer;
}
.pcard:hover .caption{
    height: 220px;
}
.pcard:hover p{
    visibility: visible;
}
.pcard:hover img{
    transform: scale(1.1) rotate(-3deg);
}
